/* ===== Base styles ===== */
* { box-sizing: border-box; }

html, body { max-width: 100%; overflow-x: hidden;}

body {
  font-family: system-ui, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media (hover: hover) { a:hover { transform: scale(1.02); } }
@media (hover: none) { a:hover {transform: none; } }